.upload {
  max-width: 800px;
  margin: auto;
  margin-top: 48px;

  form {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .file-container {
    height: 330px;
    width: 100%;
    margin-bottom: 60px;
    background: var(--primary);
    border-radius: 8px;

    @media (max-width: 576px) {
      .file-buttton {
        padding: 12px 35px;
      }
    }
  }

  .fee {
    padding: 25px 0px;
  }
  .submit {
    button {
      padding: 12px 80px;
    }
  }
}
